<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="http://twitter.com/BasLangenberg">
                    <div data-picture data-alt="Twitter">
                      <div data-src="http://www.homecooked.nl/img/twitter16.png"></div>
                        <div data-src="http://www.homecooked.nl/img/twitter32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="http://www.homecooked.nl/img/twitter16.png" alt="Twitter"></noscript>
                    </div>
                </a>
                <a href="http://github.com/BasLangenberg">
                    <div data-picture data-alt="Github">
                        <div data-src="http://www.homecooked.nl/img/octocat16.png"></div>
                        <div data-src="http://www.homecooked.nl/img/octocat32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="http://www.homecooked.nl/img/octocat16.png" alt="Github"></noscript>
                    </div>
                </a>
            </div>
            <div class="avatar" data-picture data-alt="avatar">
                <div data-src="http://www.homecooked.nl/img/BL-Profiel-TN.jpg?s=54"></div>
                <div data-src="http://www.homecooked.nl/img/BL-Profiel-TN.jpg?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <noscript><img src="http://www.homecooked.nl/img/BL-Profiel-TN.jpg?s=54" alt="avatar"></noscript>
            </div>
        </div>
        <h5 class="logo"><a href="http://www.homecooked.nl">Bas Langenberg</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "blog" %}
                <li><a href="http://wwww.homecooked.nl" class="active">Blog</a></li>
                {% else %}
                <li><a href="http://wwww.homecooked.nl">Blog</a></li>
                {% endif %}
                {% if page.nav == "about" %}
                <li><a href="http://www.homecooked.nl/about" class="active">About</a></li>
                {% else %}
                <li><a href="http://www.homecooked.nl/about">About</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="http://www.github.com/BasLangenberg" class="active">Projects</a></li>
                {% else %}
                <li><a href="http://www.github.com/BasLangenberg">Projects</a></li>
                {% endif %}
                {% if page.nav == "resume" %}
                <li><a href="https://nl.linkedin.com/in/sjmlangenberg" class="active">Resume</a></li>
                {% else %}
                <li><a href="https://nl.linkedin.com/in/sjmlangenberg">Resume</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
    </div>
</header>
